
body{
   background-image: url("l.webp");
}
.b{
     background-color: #EEAECA;
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
    border-radius: 9px;
    box-shadow: 6px 7px 10px black;
}
h2 {
  font-family: "Edu SA Hand", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  display: block;
  width: 400px;
  margin: 50px auto;
  color: blue;
}
#octocat {
  border-radius: 8px;
  border-color: black; 
  border: solid 5px; 
  margin-left:380px;
  display: block;
  justify-content: center;
  align-content: center; 
  height:390px;
  width:40%;
}
